@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --color-primary:#635EF2;
  --color-secondary:#282828;
  --color-secondary-light:#434343;
  --color-secondary-dark:#252525;
}
@layer base {
  body {
    font-family: var(--font-inter);
  }
}